/* Root default styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
  --white: #fff;
  --primary: #0b273d;
  --heroFont: #011b34;
  --heading3: 2.2rem;
  --heading1: 2.4rem;
  --heading4: 1.5rem;
  --h3Color: #011a33;
  --paragraph: "Graphik", Arial, sans-serif;
  --h3Family: "Boing", Arial, sans-serif;
  --primaryButton: #3ab75d;
  --section3Bg: #eaf6fb;
  --link: #65c67c;
  --icon: #f0fef4;
  --nav: #F1FEF4;
  --global: #F8FBFC;
}

h1 {
  font-family: var(--h3Family);
  font-size: var(--heading1);
  font-weight: 800;
  color: var(--h3Color);
  margin-bottom:12px;
}
h2,
h3 {
  font-family: var(--h3Family);
  font-size: var(--heading3);
  font-weight: 700;
  color: var(--h3Color);
  margin-bottom:20px;
}
h4{
  font-family: var(--h3Family);
  font-size: var(--heading4);
  font-weight: 800;
  margin:40px 0 20px 0;
}
p {
  font-family: var(--paragraph);
  font-weight: normal;
  color: rgb(1, 27, 51);
  font-size: 20px;
  line-height: 28.5px;
  /* margin-bottom: 30px; */
}
a {
  color: var(--primary);
}
a:hover{
  color: var(--a);
  transition:all .2s ease-in-out
}
img{
  border-radius: 2px;
}
.header{
  background-color: rgba(255, 255, 255, 0.812);
  transition: all .40s ease-in-out;
  border-bottom:.1px solid #ccc;
  top:0;
  position:fixed;
  width:100%;

}
.inner__link{
  color:var(--link)
}
/*************** Menu-Icon styling *************/

#icon-nav{
  display: none;
width:60px;
height:45px;
right:0px;
top:0;
margin-top:28px;
cursor:pointer;
z-index: 20;
position: absolute;
transition: all .4s ease-in-out;
}

#icon-nav span{
  display:block;
  width:30%;
  height:2px;
  position:absolute;
  background:#000;
  opacity: 1;
  left:0px;
  transition:all .2s ease-in-out;
}


#icon-nav span:nth-child(1){
  top:0;
  transform-origin: left center;
}
#icon-nav span:nth-child(2){
  top:6px;
  transform-origin: left center;
}
#icon-nav span:nth-child(3){
  top:12px;
  transform-origin: left center;
}
#icon-nav.open span:nth-child(1){
  top:-3px;
  left:8px;
  transform: rotate(45deg);
}
#icon-nav.open span:nth-child(2){
  width:0%;
  left:0px;
 opacity:0;
}
#icon-nav.open span:nth-child(3){
  top:10px;
  left: 8px;
  transform: rotate(-45deg);
}

.u-icon-arrow{
  width:0;
  height:0;
  border-style:solid;
  border-width:5px 5px 0px 5px;
  border-color: #011b34 transparent;
  vertical-align: middle;
  display: inline-block;
  margin:0 5px;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.2rem ;
  }
  h2, 
  h3 {
    font-size: 1.5rem;
  }
  p{
    font-size:18px;
  }
  #icon-nav{
    display: block;
  }


  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
    h2,
    h3 {
      font-size: 1.5rem;
    }
    p{
        font-size:16px;
    }
  }
  @media screen and (max-width: 320px) {
    h1 {
      font-size: 1.5rem;
    }
    h2,
    h3 {
      font-size: 1.2rem;
    }
    p{
        font-size:15px;
    }
  }
}
